@model AvaliacaoMvc.Models.CadAluno

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CadAluno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idade" class="control-label"></label>
                <input asp-for="Idade" class="form-control" />
                <span asp-validation-for="Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" class="form-control" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Turma" class="control-label"></label>
                <input asp-for="Turma" class="form-control" />
                <span asp-validation-for="Turma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mensalidade" class="control-label"></label>
                <input asp-for="Mensalidade" class="form-control" />
                <span asp-validation-for="Mensalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaPagto" class="control-label"></label>
                <input asp-for="DiaPagto" class="form-control" />
                <span asp-validation-for="DiaPagto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="@Url.Content("~/js/jquery-validate-pt-BR.js")"</script>
}
