@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>CEO: Pedro Santos</h1>
<hr />
<h2>Gerente: Matheus Santana</h2>
<hr />
<h3>Coordenador: Thiago Ferreira</h3>
<hr />
<h4>Vendedor de Eletro Doméstico: Bruno Souza</h4>
<hr />
<h5>Vendedor de Eletro Eletrônico: João da Silva</h5>
<hr />